{
    "singleQuote": true,
    "tabWidth": 2,
    "arrowParens": "always",
    "bracketSameLine": true,
    "bracketSpacing": true,
    "endOfLine": "lf",
    "quoteProps": "consistent",
    "semi": true
}
